
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Dating App </title>
</head>


<body>
    <main>

         <br />  <br />  <br />  <br />  <br />  <br />  <br />  <br />  <br />  <br />
        <!-- intro section -->
        <section class="intro" ;align = "center">
                                                                                                            <p> 	&#10084; 	&#10084; 	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;&#10084;	&#10084;</p>
                                                                                                                     <h1 class="title">Find your true love</h1>
                                                                                                              <p>	    &#10084; 	&#10084; 	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;	&#10084;&#10084;	&#10084;</p>
        </section>

       
        
    </main>
</body>

</html>